
  <div class="container">
  <div class="row">
    <div class="col-2">
      <div class="mt-5">
        <%= render 'public/items/genre',genres: @genres %>
      </div>
    </div>
    <div class="col-10 mt-4">
      <div class="text-center mb-3">
        <h4>New Item</h4>
      </div>
        <%= render "public/items/index", items: @items %>
        <div class="col-10">
          <div class="text-center index-link mt-3">
           <%= link_to "more  >>",items_path, class: "btn btn-block text-light mt-3", style: "background-color:#d2b48c" %>
          </div>
        </div>

    </div>
  </div>
</div>