<div class="text-center">
  <h4>お気に入り一覧</h4>
  <div id="favorite-scroll">
    <% current_customer.favorite_items.each do |item| %>
      <div class="favorite-reference-position-side">
        <%= link_to item_path(item.id), class: "mb-3 card item-card-side", style: "padding: 0;" do %>
          <div class="row">
            <div class="col-md-4">
            <%= image_tag item.get_image(100,115), class: "card-img", style: "height: 100px; width: 115px;" %>
            </div>
          <div class="col-md-8">
            <div class="card-body", style="height: 10px;color:black;">
              <h5 class="card-title"><%= item.name %></h5>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>