<div class="container mt-5">
 <div class="text-center">
  <h5>お気に入り一覧</h5>
  <div class=" mb-3 d-flex flex-wrap justify-content-around">
   <% current_customer.favorite_items.each do |item| %>
    <div class="card-group mt-5">
     <div class="card">
      <%= link_to item_path(item.id) do %>
       <%= image_tag item.get_image(200,200) %>
      <% end %>
      <div class="card-body">
       <%= item.name %><br>
       <%= item.tax_include_price.to_s(:delimited) %>円(税込)
      </div>
     </div>
    </div>
   <% end %>
  </div>
 </div>
</div>