@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
// @import "slick-theme";
// @import "slick";
@import 'customer';
@import 'cart_item';

body{

  //background-image: image-url("hoge.jpg");
}

.c{
  height: 600px;
  width : 100%;
}

 /*-----------矢印表示----------*/
.slick-next{ right:0!important; }
.slick-prev{ left:0!important; }
.slick-arrow{ z-index:2!important; }


 #back {
  position: fixed;
  right: 20px;
  bottom: 20px;
}
.arrow{
  width:      50px;
  height:     50px;
}