table {
  width: 500px; /* 通常は400pxで表示 */
  max-width: 100%; /* 画面に収まりきらないときは100%の幅に */
  border-collapse: collapse;
}

th, td {
  border: solid 1px #333; /* 線の種類 太さ 色 */
}

/* 500px以下の画面で適用 */
@media only screen and (max-width: 500px) {
  .mobile-blocky tr,
  .mobile-blocky th,
  .mobile-blocky td {
    display: block; /* セルを縦に */
    border: none; /* 線をリセット */
  }
  /* 以下で線を再設定 */
  .mobile-blocky {
    border: solid 2px #a5d1f1;
    border-top: none;
  }
  .mobile-blocky th {
    border-top: solid 2px #a5d1f1;
  }
  .mobile-blocky td {
    border-top: dashed 1px #a5d1f1;
  }
}