<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <div class="mt-5 text-center">
       <h3>ご注文ありがとうございました！</h3>
       <div class="mt-5">
         <%= link_to "＜＜　Topページ", root_path, class: "text-dark" %>
       </div>
      </div>
    </div>
  </div>
</div>
