<div id="genre-table">
  <table class="table">
    <thead>
      <tr>
        <th class="pb-0">
          カテゴリ
        </th>
      </tr>
    </thead>
    <tbody>
      <% genres.each do |genre| %>
      <tr>
        <td>
          <%= link_to genre.name, item_search_items_path(genre_id: genre.id, model: "genre") %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>