<div class="d-flex flex-wrap justify-content-around">
<% items.each do |item| %>
      <div class="card-group">
        <div class="card">
          <%= link_to item_path(item.id), class:"card-img-top" do %>
            <%= image_tag item.get_image(200,240), class:"card-img-top" %><br>
          <% end %>
          <div class="card-body">
            <%= item.name%><br>
            ¥<%= item.price.to_s(:delimited) %>
          </div>
        </div>
      </div>
    <% end %>
</div>